#orders-table-admin th, td {
    border: 1px solid #D2D2D2;
    vertical-align: middle;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#orders-table-admin th {
    background-color: #f2f2f2;
}

.order-view-link {
    text-decoration: none;
    color: inherit;

}

.order-view-link:hover {
    text-decoration: underline;

}

.order-view-link:visited {
    color: inherit;
}

tbody tr:hover {
    background-color: #DEE2E6;
}

.marked-row {
    background-color: #DEE2E6;
}

.items-table {
    font-size: 11px;
}

.scrollbar-mirror {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    /* Mirror any custom scrollbar styles here */
}
