#orders-table-admin th, td {
    min-width: 200px;
    border: 1px solid #D2D2D2;
}

#orders-table-admin th {
    background-color: #f2f2f2;
}

.order-view-link {
    text-decoration: none;
    color: inherit;

}

.order-view-link:hover {
    text-decoration: underline;

}

.order-view-link:visited {
    color: inherit;
}

tbody tr:hover {
    background-color: #DEE2E6;
}

.marked-row {
    background-color: #DEE2E6;
}

.items-table {
    min-width: 150px !important;
    font-size: 11px;
}
